[submodule ".janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "janus/vim-flake8"]
	path = janus/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "janus/vim-conque"]
	path = janus/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "janus/ctrlp"]
	path = janus/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "janus/vim-nerdtree-tabs"]
	path = janus/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "janus/tslime"]
	path = janus/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "janus/VimClojure"]
	path = janus/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "janus/screen"]
	path = janus/screen
	url = https://github.com/ervandew/screen.git
[submodule "janus/vim-colors-solarized"]
	path = janus/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
