[submodule ".janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "janus/vim-flake8"]
	path = janus/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "janus/vim-conque"]
	path = janus/vim-conque
	url = https://github.com/rson/vim-conque.git
